/* src/components/Navbar.css */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  background: #1e1e1e;
  padding: 1rem 5rem;
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
}

.nav-links a {
  color: #bbb;
  text-decoration: none;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #fff;
}

.nav-links .active {
  color: #ddcafa;
  font-weight: bold;
}
